.headerLinkLogo {
  font-weight: bold;
  font-size: 1.5rem;
}

.headerNav {
  display: flex;
  gap: 24px;
}

.divPost {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  .divPost {
    grid-template-columns: .9fr 1.1fr;
  }
}

.divPost .divTexts h2 {
  margin: 0;
  font-size: 2rem;
}

.divPost .divTexts a {
  text-decoration: none;
  color: inherit;
}

.divPost .pInfo {
  margin: 24px 0;
  color: #888;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.divPost .pInfo .linkAuthor {
  color: #333;
}

.divPost .pSummary {
  margin: 10px 0;
  line-height: 1.8rem;
}